<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.golden.seed.dao.FarmerTableMapper">
  <resultMap id="BaseResultMap" type="com.golden.seed.pojo.FarmerTable">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="farmers_address" jdbcType="VARCHAR" property="farmersAddress" />
    <result column="farmers_id" jdbcType="VARCHAR" property="farmersId" />
    <result column="farmers_name" jdbcType="VARCHAR" property="farmersName" />
    <result column="farmers_sex" jdbcType="VARCHAR" property="farmersSex" />
    <result column="farmers_telephone" jdbcType="VARCHAR" property="farmersTelephone" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, farmers_address, farmers_id, farmers_name, farmers_sex, farmers_telephone, password
  </sql>
  <select id="selectByExample" parameterType="com.golden.seed.pojo.FarmerTableExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from farmer_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from farmer_table
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from farmer_table
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.golden.seed.pojo.FarmerTableExample">
    delete from farmer_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.golden.seed.pojo.FarmerTable">
    insert into farmer_table (id, farmers_address, farmers_id, 
      farmers_name, farmers_sex, farmers_telephone, 
      password)
    values (#{id,jdbcType=INTEGER}, #{farmersAddress,jdbcType=VARCHAR}, #{farmersId,jdbcType=VARCHAR}, 
      #{farmersName,jdbcType=VARCHAR}, #{farmersSex,jdbcType=VARCHAR}, #{farmersTelephone,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.golden.seed.pojo.FarmerTable">
    insert into farmer_table
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="farmersAddress != null">
        farmers_address,
      </if>
      <if test="farmersId != null">
        farmers_id,
      </if>
      <if test="farmersName != null">
        farmers_name,
      </if>
      <if test="farmersSex != null">
        farmers_sex,
      </if>
      <if test="farmersTelephone != null">
        farmers_telephone,
      </if>
      <if test="password != null">
        password,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="farmersAddress != null">
        #{farmersAddress,jdbcType=VARCHAR},
      </if>
      <if test="farmersId != null">
        #{farmersId,jdbcType=VARCHAR},
      </if>
      <if test="farmersName != null">
        #{farmersName,jdbcType=VARCHAR},
      </if>
      <if test="farmersSex != null">
        #{farmersSex,jdbcType=VARCHAR},
      </if>
      <if test="farmersTelephone != null">
        #{farmersTelephone,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.golden.seed.pojo.FarmerTableExample" resultType="java.lang.Long">
    select count(*) from farmer_table
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update farmer_table
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.farmersAddress != null">
        farmers_address = #{record.farmersAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.farmersId != null">
        farmers_id = #{record.farmersId,jdbcType=VARCHAR},
      </if>
      <if test="record.farmersName != null">
        farmers_name = #{record.farmersName,jdbcType=VARCHAR},
      </if>
      <if test="record.farmersSex != null">
        farmers_sex = #{record.farmersSex,jdbcType=VARCHAR},
      </if>
      <if test="record.farmersTelephone != null">
        farmers_telephone = #{record.farmersTelephone,jdbcType=VARCHAR},
      </if>
      <if test="record.password != null">
        password = #{record.password,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update farmer_table
    set id = #{record.id,jdbcType=INTEGER},
      farmers_address = #{record.farmersAddress,jdbcType=VARCHAR},
      farmers_id = #{record.farmersId,jdbcType=VARCHAR},
      farmers_name = #{record.farmersName,jdbcType=VARCHAR},
      farmers_sex = #{record.farmersSex,jdbcType=VARCHAR},
      farmers_telephone = #{record.farmersTelephone,jdbcType=VARCHAR},
      password = #{record.password,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.golden.seed.pojo.FarmerTable">
    update farmer_table
    <set>
      <if test="farmersAddress != null">
        farmers_address = #{farmersAddress,jdbcType=VARCHAR},
      </if>
      <if test="farmersId != null">
        farmers_id = #{farmersId,jdbcType=VARCHAR},
      </if>
      <if test="farmersName != null">
        farmers_name = #{farmersName,jdbcType=VARCHAR},
      </if>
      <if test="farmersSex != null">
        farmers_sex = #{farmersSex,jdbcType=VARCHAR},
      </if>
      <if test="farmersTelephone != null">
        farmers_telephone = #{farmersTelephone,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.golden.seed.pojo.FarmerTable">
    update farmer_table
    set farmers_address = #{farmersAddress,jdbcType=VARCHAR},
      farmers_id = #{farmersId,jdbcType=VARCHAR},
      farmers_name = #{farmersName,jdbcType=VARCHAR},
      farmers_sex = #{farmersSex,jdbcType=VARCHAR},
      farmers_telephone = #{farmersTelephone,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>