<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.golden.seed.dao.MyEventTypeTableMapper">
  <resultMap id="BaseResultMap" type="com.golden.seed.pojo.EventTypeTable">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="event_type" jdbcType="VARCHAR" property="eventType" />
    <result column="farmerId" jdbcType="VARCHAR" property="farmerid" />
  </resultMap>
  
  <sql id="Base_Column_List">
    id, event_type, farmerId
  </sql>
  
  <select id="getEventType" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eventtype_table
    where farmerId = #{farmerId }
  </select>
 
</mapper>